<html lang="en">
<meta charset="UTF-8">
<title>BRANDS</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
<style>
</style>
<script>
    setTimeout(function(){
            window.location.href = '/';
         }, 3000);
</script>


<body>
<h1>ERROR: Duplicate entries not allowed.</h1>
</br>
<h2>Redirecting back to home...</h2>

</body>
